/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/poppins-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/poppins-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* yeseva-one-regular - latin */
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/yeseva-one-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/yeseva-one-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* yeseva-one-regular - latin */
@font-face {
  font-family: 'Yeseva One';
  font-style: cursive;
  font-weight: 400;
  src: local(''),
       url('/fonts/YesevaOne-Regular.ttf') format('ttf'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

section {
    margin: auto;
    padding-top: 10px;
}
div#sectionleft {
    float: left;
    margin-right: 10px;
}
div#sectionright {
    margin: auto;
}

####

.tabs {
  font-family: Arial, sans-serif;
}

.tab-titles {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 1px solid #ddd;
}

.tab-title {
  cursor: pointer;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  background: #f0f0f0;
}

.tab-title.active {
  background: white;
  border-bottom: 1px solid white;
}

.tab-content {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

.tab-pane {
  display: none;
}
/* Target links within your post content */
.post-content a {
    text-decoration: none;
    background-image: linear-gradient(rgba(173, 216, 230, 0.5), rgba(173, 216, 230, 0.5));
    background-position: 0 80%; /* Shifts the highlight down slightly */
    background-repeat: no-repeat;
    background-size: 100% 40%;    /* Adjust this to make the highlight thicker or thinner */
    transition: background-size 0.2s ease-in-out;
    color: inherit; /* Keeps your text color natural */
}

/* Optional: Subtle "fill" effect on hover */
.post-content a:hover {
    background-size: 100% 100%;
}

.tab-pane.active {

